body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a, .dropButton {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropDown:hover .dropButton {
  background-color: red;
}
li.dropDown {
  display: inline-block;
}
.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropDownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropDownContent a:hover {
  background-color: #f1f1f1;
}
.dropDown:hover .dropDownContent {
  display: block;
}
.arrow {
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
}
.dropDown:hover .arrow {
  transform: rotate(0deg);
}
.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
  text-align: center;
}
.product img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
#product-details {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  height: 100vh; /* full screen height */

}
.leftSide a {
  color: gray;
  text-decoration: none;
}
.leftSide a:hover {
  text-decoration: underline;
}
.price {
  padding: 20px;
  background-color: #333;
  color: white;
  width: 200px;
  font-size: 20px;
}
.rightSide {
  padding-left: 100px;
}
/* On desktop: child divs side by side */
.product-details {
  flex-direction: row;
}
/* On small screens: stack child divs vertically */
@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
  }
}